/* FRONTEND */

.gb-sf4wp-gutenberg-email-optin-form-wrapper { 
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.gb-sf4wp-gutenberg-email-optin-form-wrapper h2,
.gb-sf4wp-gutenberg-email-optin-form-wrapper p {
	color: #FFF;
	margin-bottom: .5em;
}
.gb-sf4wp-gutenberg-email-optin-error-msg h3 {
	background-color: red;
	color: white;
	padding: 10px;
	font-size: 15px;
	font-weight: normal;
	border: 0;
	margin: 0 0 15px 0;
}
.gb-sf4wp-gutenberg-email-optin-success-msg h3 {
	background-color: green;
	color: white;
	padding: 10px;
	font-size: 15px;
	font-weight: normal;
	border: 0;
	margin: 0 0 15px 0;
}

/* BACKEND */

.block-editor-block-inspector .components-base-control {
	margin-bottom: 10px !important;
}
.components-panel .gb-sf4wp-gutenberg-label {
	display: block;
	margin: 10px 0 0;
}
.components-panel .gb-sf4wp-gutenberg-invisible {
	display: none;
}
.components-panel .components-flex.gb-sf4wp-gutenberg-visible {
	display: flex;
}
.components-panel .components-button-group .components-button.gb-sf4wp-gutenberg-visible {
	display: inline-flex;
}
.gb-sf4wp-gutenberg-email-optin-form-wrapper .components-text-control__input {
	background: #FFF;
	margin: 0 0 15px 0;
}
.gb-sf4wp-gutenberg-email-optin-form-wrapper .components-text-control__input,
.gb-sf4wp-gutenberg-email-optin-submit {
	width: 100%;
	border: 0;
	font-size: 16px;
	outline: 0;
	border-radius: 2px;
}
.gb-sf4wp-gutenberg-email-optin-form-wrapper .components-button {
	text-align: center;
	display: block;
	font-size: 16px;
}
.gb-sf4wp-gutenberg-email-optin-form-wrapper .components-base-control__field {
	overflow: hidden;
}